{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>Bienvenido al Sistema de Administración McDonald's</h1>
    <p>Administra clientes, pedidos y empleados de forma sencilla.</p>
    <p>Total de clientes registrados: <strong>{{ total_clientes }}</strong></p>
  </div>
  <div class="col-md-4">
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/McDonald%27s_Golden_Arches.svg" alt="McDonalds" class="img-fluid">
  </div>
</div>
{% endblock %}